server:
  port: 8088
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/databench
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: auto
    banner: false

logging:
  file:
    path: /tmp/databench
